<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="None"/>
    <add key="EULA" value="EULA.rtf"/>
    <add key="SolutionId" value="f96e39fa-aefe-462b-8024-8346760786d7"/>
    <!--<add key="FarmFeatureId" value="ffc28263-b73f-4e5e-a6a3-75ac3457986a"/>-->
    <add key="SolutionFile" value="SPExpressionBuilder.wsp"/>
    <add key="SolutionTitle" value="SPExpressionBuilder"/>
    <add key="SolutionVersion" value="1.0.0.0"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>    
  </appSettings>
</configuration>